<!DOCTYPE html> 
<html lang="ru"> 
<head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Окно входа</title> 
<link rel="stylesheet" href="static/core/style.css">
</head>
<body>

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet"> 
 
    <div class="login-box">  
        <div class="buttons"> 
            <button>МойСклад</button>  
            <button>1С:Бухгалтерия</button>  
        </div> 
     
        <form> 
           <div> 
            <input type="text" id="login" name="login" placeholder="Логин МойСклад">
            </div> 
             
            <div><input type="password" id="password" name="password" placeholder="Пароль"></div> 
             
            <div><input type="checkbox" id="remember" name="remember"> 
            <label for="remember">Сохранить данные</label></div> 
             
            <a href="meow" class="btn">Подключиться</a>
        </form> 
         
        <p style="font-size: 12px;color: #4FC261";><span class="icon"></span> Данные аккаунта "МойСклад" подключены успешно</p>    
        <p style="font-size: 12px;color: #4FC261"><span class="icon"></span> Данные аккаунта "1С:Бухгалтерия" подключены успешно</p>    
        <p style="font-size: 12px;color: #4FC261"><span class="icon"></span> Синхронизация успешна, перейдите к настройке приложения</p>    
     
    </div> 
     
    </body> 
    </html> 